[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/dnzggg/scenario_runner.git
[submodule "leaderbaord"]
	path = leaderbaord
	url = https://github.com/dnzggg/scenario_runner.git
